
# dependencies
web/node_modules
server/main/node_modules

# test venv
tests/Include
tests/Lib
tests/Scripts/
tests/pyvenv.cfg

# production
web/build
server/main/build

# sublime text related environment settings
*.sublime-project
*.sublime-workspace
